#change-button {
  width: 80px;
  height: 80px;
  background-color: #171f26;
  margin-top: 80px;
  border-radius: 50%;
  border: none;
}

#change-button:hover {
  opacity: 0.75;
  cursor: pointer;
}
path {
  fill: orange;
}

body {
  background-color: #0c151d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text1 {
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  font-size: 44px;
  margin-top: 60px;
}
#text1 img {
  border-radius: 200%;
}

#text1-right {
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  line-height: 10px;
}
#logo-style {
  width: 180px;
  margin-left: 70px;
  margin-bottom: 50px;

  display: flex;
  justify-content: space-between;
}
.logo {
  width: 22px;
  height: 20px;
}

#text2 {
  width: 600px;
  height: 140px;
  font-size: 22px;
  color: white;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
#text2 p {
  width: 95px;
  height: 102px;
  display: flex;
  text-align: center;
}

.button-style {
  width: 200px;
  height: 60px;
  font-size: 18px;
  color: #3d3d3d;
  border-radius: 10px;
  margin-right: 40px;
}

#background-orange {
  background-color: orange;
}
#background-white {
  background-color: #ffffff;
}
#button-style1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#button-style2 {
  width: 760px;
  height: 110px;
  background-color: #ffffff;

  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  gap: 200px;
  margin: 80px;
}
#button-style2 button {
  width: 340px;
  height: 80px;
  font-size: 20px;
  background-color: #d7d7d7;
  border-radius: 10px;
  border: none;
  margin-left: 20px;
}

.image {
  width: 360px;
  height: 220px;
  margin: 20px;
  border-radius: 15px;
  background-color: #00000033;
}
#text3 {
  font-size: 22px;
  color: #575757;
  margin: 40px;
}

@media (max-width: 620px) {
  body {
    background-color: #0c151d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2px;
  }
  #change-button {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    margin-top: 80px;
    border-radius: 50%;
    border: none;
    margin-left: 50px;
  }

  #change-button svg {
    width: 24px;
    height: 24px;
  }

  #text1 {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  #text1-right {
    font-size: 14px;
    line-height: 2px;
    margin-left: 30px;
    margin-top: 15px;
  }
  #text1 img {
    width: 107px;
    height: 107px;
    border-radius: 200px;
    margin-left: 40px;
  }

  #logo-style {
    width: 160px;
    margin-left: 25px;
    margin-bottom: 30px;
  }
  .logo {
    width: 19px;
    height: 18px;
  }
  #text2 {
    width: 300px;
    height: 60px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
  }
  #text2 p {
    width: 95px;
    height: 102px;
    display: flex;
    text-align: center;
  }

  .button-style {
    width: 158px;
    height: 44px;
    font-size: 10px;
    color: #3d3d3d;
    border-radius: 10px;
  }

  #background-orange {
    background-color: orange;
  }
  #background-white {
    background-color: #ffffff;
  }
  #button-style1 {
    display: flex;
    margin-left: 40px;
  }
  #button-style2 {
    width: 375px;
    height: 84px;
    background-color: #ffffff;

    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    gap: 10px;
  }
  #button-style2 button {
    width: 154px;
    height: 50px;
    font-size: 14px;
    background-color: #d7d7d7;
    border-radius: 10px;
    border: none;
    margin-right: 80px;
  }

  .image {
    width: 340px;
    height: 210px;

    border-radius: 15px;
  }
  #text3 {
    font-size: 14px;
    color: #575757;
    margin: 40px;
  }
}
